template(name='home')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.big.selection.link.animated.grey.list
                    .item
                        +icon name='groups' cl='avatar'
                        .content
                            .header 
                                |friends
                    .item
                        +icon name='chat' cl='avatar'
                        .content
                            .header 
                                |messenger
                    .item
                        +icon name='calendar' cl='avatar'
                        .content
                            .header 
                                |events
                    .item
                        +icon name='shop' cl='avatar'
                        .content
                            .header 
                                |marketplace
                    .item
                        +icon name='flag' cl='avatar'
                        .content
                            .header 
                                |pages
            .twelve.wide.column
                if currentUser
                    .ui.rounded.segment
                        //- .ui.header post
                        //- .ui.big.circular.icon.button.add_post
                        //-     i.plus.icon
                        .ui.fluid.big.left.icon.input
                            i.plus.icon
                            input#add_post(type='text' placeholder='add...')
                .scrolling
                    each posts
                        +post_item
                    
template(name='agg_tag')
    button.ui.tertiary.large.button.result(tabindex="0" title=count)
        if term.image
            //- button.ui.compact.circular.button(tabindex="0" title=count)
            //- img.ui.mini.inline.image(src=term.image)
            img.ui.avatar.image(src=term.image)
            .ui.inline.small.thin.header(class=tag_result_class) #{title}
        else
            //- button.ui.compact.circular.button(tabindex="0" title=count)
            .ui.inline.small.thin.header(class=tag_result_class) #{title}

        //- small #{count}
                    
